@import "../variables.scss";

.title {
    cursor: pointer;
}

.toolbar {
    position: relative;
    z-index: 2;
    background-color: $primary-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    color: white;

    &-home {
        position: absolute;
        background-color: transparent;
    }
}

.navigation-menu {
    list-style-position: inside;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-left: 82px;
    li {
        padding-bottom: 2px;
        list-style-type: none;
        cursor: pointer;
        padding-left: 20px;
        a {
            margin: 0 4px;
            padding: 0;
            cursor: pointer;
            font-weight: 400;
            color: #fff;
            font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
