language: node_js
node_js:
    - '12'
sudo: true
dist: trusty

branches:
    only:
        - master

cache:
    directories:
        - ./node_modules

install:
    - npm install

script:
    - npm run build:lib
