<div class="footer">
    <div class="grid">
        <div class="footer-block ng-star-inserted">
            <ul>
                <li class="ng-star-inserted">
                    <a
                        target="_blank"
                        class="link"
                        href="https://github.com/CarlosTenorio/ng-docx"
                        title="Github repository."
                    >
                        GITHUB
                    </a>
                </li>
                <li class="ng-star-inserted">
                    <a
                        target="_blank"
                        class="link"
                        href="https://www.linkedin.com/in/carlos-tenorio-p%C3%A9rez-806978112/"
                        title="Linkedin"
                    >
                        LINKEDIN
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="made-width-love">
        <h5>Made with <span class="heart">♥</span> by <b>Carlos Tenorio Pérez</b>.</h5>
    </div>
</div>
