@import "../../../../variables.scss";

.background-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  background-color: $primary-color;
  background: linear-gradient(145deg, $primary-color-dark, $primary-color);
  color: #fff;
}

section#intro {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  color: #fff;

  .cookie-logo {
    display: flex;
    width: 100%;
    img {
      width: 250px;
      height: 250px;
      margin-bottom: 8px;
      padding: 0;
      -webkit-filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
      filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
      margin: auto;
    }
  }
  .intro-container {
    width: 100%;
    max-width: 1040px;
    margin: -7% auto 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .intro-headline {
    font-size: 40px;
    line-height: 64px;
    font-weight: 500;
    margin: 32px 0;
  }

  .intro-cta {
    padding: 2px 34px 0;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
    line-height: 4rem;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
  }
}
