@use '~@angular/material' as mat;
@mixin ng-docx($primary-palette) {
    $app-primary: mat.define-palette($primary-palette);
    $color-primary: mat.get-color-from-palette($app-primary);

    .navigationMenu {
        a {
            &.navigation-item-selected {
                color: $color-primary;
            }

            &::after {
                background-color: $color-primary !important;
            }
        }
    }

    .item-navigation {
        .item-actived {
            color: $color-primary !important;
        }
    }
}
